# Data files - keep local only
*.csv
*.dta
*.rds
.DS_Store
**/dataverse_files*/
**/*selected*/
**/*Primary*Samples*/
**/*MASTER*INSTRUMENT*/
*.shp
*.shx
*.dbf
*.prj
.Rproj.user
WellesleyPoliSciPresentation0426.log
